<div class="g-background">
  <div class="container pt-5">

    <h1 class="text-center mb-4">
      Games
    </h1>

    <!-- Filters -->
    <div class="mb-3">
      <!-- Search by Platform -->
      <label for="filterByPlatform">Platform</label>
      <select id="filterByPlatform" class="form-select mb-3" [(ngModel)]="searchByPlatform" (change)="onSearchByPlatform()">
        <ng-container *ngFor="let platform of platforms">
          <option value="">All</option>
          <option value="{{ platform.key }}">{{ platform.value }}</option>
        </ng-container>
      </select>
      <!-- Search by Title -->
      <div class="input-group input-group-md mb-3">
        <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="onSearch()" placeholder="Search">
      </div>
    </div>

    <!-- Loading -->
    <app-loading-modal *ngIf="loading">
    </app-loading-modal>

    <!-- Content -->
    <div *ngIf="!loading" class="row">
      <ng-container *ngFor="let game of gamesPortion">
        <app-game-card
          class="col-md-4 col-sm-1"
          [game]="game">
        </app-game-card>
      </ng-container>
      <ng-container *ngIf="isObjectEmpty()">
        <h3 class="text-center">No results found</h3>
      </ng-container>
    </div>

  </div>
</div>